
@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Light.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedLight.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedLightOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedLightOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-LightItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedLightItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Regular.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Extended.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Oblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Oblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Italic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Medium.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedMedium.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-MediumOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-MediumOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedMediumOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedMediumOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-MediumItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedMediumItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-SemiBold.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedSemiBold.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-SemiBoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-SemiBoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedSemiBoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedSemiBoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-SemiBoldItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedSemiBoldItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Bold.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedBold.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-BoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-BoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedBoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedBoldOblique.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-BoldItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedBoldItalic.woff2') format('woff2'), url('/fonts/TTF/IosevkaTermSS01-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('/fonts/WOFF2/IosevkaTermSS01-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-HeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/WOFF2/IosevkaTermSS01-ExtendedHeavyItalic.woff2') format('woff2');
}
