---
import Layout from '../../shared/layouts/Layout.astro'
import site from '../site';
---
<Layout title="resources" hue={100} site={site}> 
  <h1 style={{ marginTop: 0 }}>resources</h1>

  <h2>A</h2>
  <ul>
    <li>
      <a href="https://aseprite.com" target="_blank" rel="noopener">Aseprite</a> ― an amazing (multi-platform) pixel art editor
    </li>
  </ul>

  <h2>C</h2>
  <ul>
    <li>
      <a href="https://cdnfonts.com" target="_blank" rel="noopener">CDNFonts</a> ― yet another font site <em>(some fonts on this site are NOT free, but can be used for personal stuff)</em>
    </li>
    <li>
      <a href="https://css-tricks.com" target="_blank" rel="noopener">CSS-Tricks</a> ― cool css snippets and guides
    </li>
  </ul>

  <h2>D</h2>
  <ul>
    <li>
      <a href="https://deploy.nekoweb.org/" target="_blank" rel="noopener">deploy2nekoweb</a> ― the most popular nekoweb deploy script
    </li>
  </ul>

  <h2>F</h2>
  <ul>
    <li>
      <a href="https://figma.com" target="_blank" rel="noopener">Figma</a> ― a whiteboard and design program
    </li>
    <li>
      <a href="https://fontshare.com/" target="_blank" rel="noopener">Fontshare</a> ― fonts. fonts. fonts.
    </li>
    <li>
      <a href="https://archive.org/download/Fontworks/" target="_blank" rel="noopener">Fontworks archive</a> ― very cool jp and eng fonts <em>(i don't think any of these are "free")</em>
    </li>
  </ul>

  <h2>G</h2>
  <ul>
    <li>
      <a href="https://fonts.google.com" target="_blank" rel="noopener">Google Fonts</a> ― has a bunch of free-to-use fonts and icons
    </li>
  </ul>

  <h2>M</h2>
  <ul>
    <li>
      <a href="https://developer.mozilla.org/en-US/" target="_blank" rel="noopener">MDN Web Docs</a> ― good for web dev documentation
    </li>
  </ul>

  <h2>N</h2>
  <ul>
    <li>
      <a href="https://jbcarreon123.nekoweb.org/utils/nekobox/" target="_blank" rel="noopener">Nekobox</a> ― a nekoweb sitebox creation tool
    </li>
    <li>
      <a href="https://domain.joo.sh" target="_blank" rel="noopener">nekoweb domain tutorial</a>
    </li>
    <li>
      <a href="https://maxpixels.moe/resources/nekoweb-stats/" target="_blank" rel="noopener">nekoweb stats</a>
    </li>
    <li>
      <a href="https://neovim.io" target="_blank" rel="noopener">Neovim</a> ― my favorite text editor, very customizable
    </li>
  </ul>

  <h2>P</h2>
  <ul>
    <li>
      <a href="https://github.com/ThinLiquid/pmoring" target="_blank" rel="noopener">pmoring</a> ― a highly efficient, and easy-to-use webring shell
    </li>
    <li>
      <a href="https://photopea.com" target="_blank" rel="noopener">Photopea</a> ― a photoshop alternative for the web
    </li>
    <li>
      <a href="https://www.programmingfonts.org/" target="_blank" rel="noopener">Programming Fonts</a> ― a place to test monospace fonts
    </li>
  </ul>

  <h2>U</h2>
  <ul>
    <li>
      <a href="https://unsplash.com" target="_blank" rel="noopener">Unsplash</a> ― a really big image library
    </li>
  </ul>

  <h2>W</h2>
  <ul>
    <li>
      <a href="https://www.w3schools.com" target="_blank" rel="noopener">w3schools</a> ― good for html snippets, great for beginners
    </li>
  </ul>
</Layout>