---
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/Layout.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.mdx', { eager: true }));
---
<Layout title="blog">
  <h1>blog</h1>
  <p>just my little programming blog (i probably wont update this a lot)</p>
  <ul>
    {allPosts.reverse().map((post: any) => <BlogPost post={post} />)}
  </ul>
</Layout>