---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
    <div class="centered">
        <div style="text-align:right;">
            <small>this site contains a f*ck ton of css animations</small>
        </div>
        <h1 style="margin:0;">
            thinliquid's [studio]
        </h1>
        <a href="/home">➤ enter the [studio]</a>
    </div>

    <img src="/logo.png" class="logo" transition:name="logo" draggable="false">
</RootLayout>

<style>
  a {
    color: var(--color-primary);
  }

  .centered, .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 100%;
    padding: 32px;
    user-select: none;
  }

  .logo {
    opacity: 0.05;
    z-index: -1;
    transform-origin: center center;
    animation: rotate 2s infinite var(--bounce);
  }

  @keyframes rotate {
    0% { transform: translate(-50%, -50%) scale(0.9) }
    50% { transform: translate(-50%, -50%) scale(1) }
    100%  { transform: translate(-50%, -50%) scale(0.9) }
  }

  @keyframes open {
    from { height: 0; opacity: 0; }
    to { height: auto; opacity: 1; }
  }

  h1 { font-size: 64px; }
  small { color: var(--color-subtext-0)}
</style>
