---
import Layout from '../layouts/Layout.astro'
---

<Layout title='webrings'>
  <h1>webrings <small>[BETA]</small></h1>
    
  <div id="nekowebring" style={{ color: 'var(--base)' }}>
    <script is:inline type="text/javascript" src="https://webring.nekoweb.org/onionring-variables.js"></script>
    <script is:inline type="text/javascript" src="https://webring.nekoweb.org/onionring-widget.js"></script>
  </div>
  <webring-container>
    <config key="type" value="catppuccin-mocha"></config>
    <config key="font" value="Neue Haas Grotesk, Helvetica Neue, Helvetica, Arial, sans-serif"></config>
    <config key="fill" value="true"></config>
  
    <script is:inline type="text/javascript" src="https://palette.nekoweb.org/webring.js"></script>
  </webring-container>
  <br />
  <iframe id="bucket-webring" style="height: 3rem; border: none;width:100%;" src="https://webring.bucketfish.me/embed.html?name=ThinLiquid"></iframe>
</Layout>