---
interface Props {
  href?: string;
  src: string;
  tooltip?: string;
}

const { href, src, tooltip } = Astro.props
---
<a href={href}>
  <img class="banner" src={src} width="850" height="150" data-tooltip={tooltip} alt={tooltip} />
</a>
<br/><br/>

<style>
  img, a {
    width: 100%;
    max-width: 100%;
  }

  a {
    &:hover {
      background: none!important;
      
      img {
        filter: none!important;
      }
    }
  }

  img {
    height: auto;
    border: 1px solid var(--color-surface-0);
    border-radius: 8px;
  }

</style>