<div class="card">
  <slot/>
</div>
<style>
  .card {
    border: 1px solid var(--tint-shade7);
    padding: 16px;
    border-radius: 16px;
    background: var(--tint-shade0);
    backdrop-filter: blur(50px);
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  }
</style>