---
interface Props {
  url: string
  href?: string
  alt: string
  [key: string]: any
}

const { url, href, alt, ...props } = Astro.props
---
<a href={href} {...props}>
  <img src={url} alt={alt} data-tooltip={alt} />
</a>

<style>
  a {
    text-decoration: none;
    padding: 0!important;
    background: none!important;
    display: inline-block;

    &:hover {
      background: none!important;
      
      img {
        filter: none!important;
        image-rendering: pixelated;
      }
    }
  }
</style>
