---
interface Props {
  tooltip?: string;
  color?: string;
  small?: boolean;

  href?: string;
}

const { tooltip, color, href, small } = Astro.props
---
<li style={color && { '--color': `var(--${color})` }} class={`${small && 'small'}`}><a data-tooltip={tooltip} href={href}>
  <slot />  
</a></li>