---
interface Props {
  title: string
}
---
<span class="win7" style="display:flex;flex-direction:column;margin:auto;gap:8px;">
      <div class="window active"> 
        <div class="title-bar">
          <div class="title-bar-text">{Astro.props.title}</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize" disabled></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body has-space">
          <slot/> 
        </div>
      </div>
      </span>
