

:root {
  --rosewater: 245, 224, 220;
--flamingo: 242, 205, 205;
--pink: 245, 194, 231;
--mauve: 203, 166, 247;
--red: 243, 139, 168;
--maroon: 235, 160, 172;
--peach: 250, 179, 135;
--yellow: 249, 226, 175;
--green: 166, 227, 161;
--teal: 148, 226, 213;
--sky: 137, 220, 235;
--sapphire: 116, 199, 236;
--blue: 137, 180, 250;
--lavender: 180, 190, 254;
--text: 205, 214, 244;
--subtext1: 186, 194, 222;
--subtext0: 166, 173, 200;
--overlay2: 147, 153, 178;
--overlay1: 127, 132, 156;
--overlay0: 108, 112, 134;
--surface2: 88, 91, 112;
--surface1: 69, 71, 90;
--surface0: 49, 50, 68;
--base: 30, 30, 46;
--mantle: 24, 24, 37;
--crust: 17, 17, 27;

  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.9);

  --width: 800px;
}

body, html {
  margin: 0;
  padding: 0;
  background: rgb(var(--base));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

html,body {
  width: 100vw;
}

* {
  will-change: filter;
  scrollbar-color: rgb(var(--color)) rgb(var(--mantle));
  scrollbar-width: thin;
  
  color: rgb(var(--text));
  box-sizing: border-box;
  image-rendering: pixelated;

  &::selection {
    background: rgba(var(--color), 1);
    color: rgb(var(--base));
  }

  * {
    font-family: -apple-system, BlinkMacSystemFont, Inter, Arial, sans-serif;
  }
}

.letters {
  display: inline-flex;
  .letter {
    display: inline-block;
    animation: hover 2s infinite ease-in-out alternate;
    transform: translateY(5px);

    @for $i from 1 through 26 {
      &.letter:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px calc(30px / 2.5);
  border-radius: calc(30px / 2);
  display: inline-block;
  background: rgb(var(--surface0), 0.3);
  border: 1px solid rgb(255,255,255, 0.2);
}


.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, rgba(var(--teal), 0.7), rgba(var(--sky), 0.9), rgba(var(--sapphire), 0.9), rgba(var(--blue), 0.5));
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
}

br {
  user-select: none;
}

nav {
  user-select: none;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 100;

  background: linear-gradient(90deg, rgba(var(--color), 0.1), rgba(var(--color2), 0.1));
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 10px rgba(var(--base), 0.5);
  

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, transparent 25%, rgba(var(--overlay2), 1) 50%, transparent 75%);
    width: 100%;
    height: 1px;
    bottom: 0;
    opacity: 0.5;
  }

  & .inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    width: var(--width);
    max-width: calc(100% - 40px);

    @media (max-width: 800px) {
      flex-direction: column;

      & div:nth-of-type(1) {
        max-width: 100%!important;
      }

      .nav {
        justify-content: flex-start;
      }
    }
  }
}

footer {
  margin-top: 50px;
  padding: 2rem 0;
  background: linear-gradient(90deg, rgba(var(--color), 0.1), rgba(var(--color2), 0.1));
  backdrop-filter: blur(20px);
  box-shadow: 0 -5px 10px rgba(var(--base), 0.5);

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, transparent 25%, rgba(var(--overlay2), 1) 50%, transparent 75%);
    width: 100%;
    height: 1px;
    top: 0;
    opacity: 0.5;
  }

  & .inner {
    display: flex;
    justify-content: space-between;
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 20px;
  }
}

a {
  user-select: none;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 2.5px 5px;
  border-radius: 7.5px;
  color: rgb(var(--color));
  border: 2px solid rgba(var(--color));

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:has(img) {
    border: none!important;
    padding: 0;
  }

  &:not(:has(button)) {
    &:hover {
      transform: scale(1.05) skew(-5deg);
    }
  
    &:active {
      transform: scale(1.05) skew(-5deg);
    }

    &:focus {
      outline: none;
      border-color: rgb(var(--sapphire));
      color: rgb(var(--sapphire));
    }
  }

  &:has(button) {
    padding: 0;
    border: none;
  }
}

button {
  cursor: pointer;
  padding: 5px 7.5px;
  border-radius: 7.5px;
  background: rgba(var(--mantle), 0.5);
  border: 2px solid rgba(var(--mantle), 0);

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.99);
  }

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }

  &.big {
    border-image: linear-gradient(68deg, rgba(var(--color), 1), rgba(var(--surface1), 1)) 1;
  }
}

#content {
  flex: 1;
  padding: 0rem 20px;

  & .inner {
    max-width: var(--width);
    margin: 0 auto;
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  width: max-content;
  * {
    word-break: keep-all;
  }
}

img {
  user-select: none;

  &.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }
}


@keyframes hover {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@for $i from 1 through 6 {
  h#{$i}::before {
    content: str-slice('######', 1, $i) + ' ';
    color: rgb(var(--color));
  }
}

ul, ol {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

ol li::before {
  content: ' ';
  color: rgb(var(--color));
  margin-right: 5px;
}

ul li::before {
  content: '* ';
  color: rgb(var(--color));
  margin-right: 5px;
}

b, strong {
  &::before {
    content: '**';
    color: rgb(var(--color));
  }

  &::after {
    content: '**';
    color: rgb(var(--color));
  }
}

em, i {
  &::before {
    content: '*';
    color: rgb(var(--color));
  }

  &::after {
    content: '*';
    color: rgb(var(--color));
  }
}

small::before {
  content: '-# ';
  color: rgb(var(--color));
}

hr {
  border: none;
  margin: 1rem 0;
}

hr::after {
  content: '';
  position: relative;
  display: block;
  height: 1px;
  top: -0.5rem;
  left: 30px;
  background: linear-gradient(90deg, rgba(var(--color), 1), transparent);
}

hr::before {
  content: '---';
  color: rgb(var(--color));
}

projects-container {
  & > * {
    border-bottom: 2px solid rgba(var(--overlay2), 0.25);

    &:last-child {
      border-bottom: none;
    }
  }
}

project-card {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  
  * { margin: 0; z-index: 2; }

  &:hover::after {
    background-color: rgb(var(--color), 0.5)
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transition: background-color 1s;

    background-color: rgb(var(--color), 0.05);
    filter: blur(50px);
    border-radius: 10px;
    
    z-index: 1;
  }
}

textarea {
  width: 100%;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 1px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));
  resize: none;

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 2px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 2px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

.tooltip {
  position: absolute;
  background: rgba(var(--base), 0.75);
  border-radius: 10px;
  padding: 5px;
  color: rgb(var(--text));
  z-index: 100;
  box-shadow: 0 5px 10px rgba(var(--base), 0.5);
  border: 1px solid rgba(var(--overlay2), 0.5);
  backdrop-filter: blur(10px);

  transition: opacity .25s;
}

.squishy {
  cursor: pointer;
  transition: all .25s var(--bounce), color .25s, border-color .25s;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.975);
  }

  &:focus {
    outline: none;
  }
}

code {
  display: inline-block;
  font-family: Menlo, monospace;
  background: rgba(var(--base), 0.5);
  padding: 5px;
  border-radius: 5px;

  &::before {
    content: '`';
    color: rgb(var(--color));
  }

  &::after {
    content: '`';
    color: rgb(var(--color));
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
  
  height: 100%;
}