

:root {
  --rosewater: 245, 224, 220;
--flamingo: 242, 205, 205;
--pink: 245, 194, 231;
--mauve: 203, 166, 247;
--red: 243, 139, 168;
--maroon: 235, 160, 172;
--peach: 250, 179, 135;
--yellow: 249, 226, 175;
--green: 166, 227, 161;
--teal: 148, 226, 213;
--sky: 137, 220, 235;
--sapphire: 116, 199, 236;
--blue: 137, 180, 250;
--lavender: 180, 190, 254;
--text: 205, 214, 244;
--subtext1: 186, 194, 222;
--subtext0: 166, 173, 200;
--overlay2: 147, 153, 178;
--overlay1: 127, 132, 156;
--overlay0: 108, 112, 134;
--surface2: 88, 91, 112;
--surface1: 69, 71, 90;
--surface0: 49, 50, 68;
--base: 30, 30, 46;
--mantle: 24, 24, 37;
--crust: 17, 17, 27;

  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.9);

  --monospace: 'Iosevka Term Web', 'Iosevka', 'Fira Code', 'JetBrains Mono', 'Menlo', 'Courier New', monospace;

  --width: 800px;
}

body, html {
  margin: 0;
  padding: 0;
  background: rgb(var(--base));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

html,body {
  width: 100vw;

  &.personality {
    --monospace: MS Gothic, 'Iosevka Term Web', 'Iosevka', 'Fira Code', 'JetBrains Mono', 'Menlo', 'Courier New', monospace;
  
    * {
      * { font-family: var(--monospace); }
    }
  }

  &.monospace {
    * {
      * { font-family: var(--monospace); }
    }
  }
}

* {
  will-change: filter;
  scrollbar-color: rgb(var(--color)) rgb(var(--mantle));
  scrollbar-width: thin;
  
  color: rgb(var(--text));
  box-sizing: border-box;
  image-rendering: pixelated;

  &::selection {
    background: rgba(var(--color), 1);
    color: rgb(var(--base));
  }

  * {
    font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif
  }
}

.letters {
  display: inline-flex;
  .letter {
    display: inline-block;
    animation: hover 2s infinite ease-in-out alternate;
    transform: translateY(5px);

    @for $i from 1 through 26 {
      &.letter:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px calc(30px / 2.5);
  border-radius: calc(30px / 2);
  display: inline-block;
  background: rgb(var(--surface0), 0.3);
  border: 1px solid rgb(255,255,255, 0.2);
}


.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, rgba(var(--teal), 0.7), rgba(var(--sky), 0.9), rgba(var(--sapphire), 0.9), rgba(var(--blue), 0.5));
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
}

br {
  user-select: none;
}

nav {
  user-select: none;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 100;

  background: linear-gradient(90deg, rgba(var(--color), 0.1), rgba(var(--color2), 0.1));
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 10px rgba(var(--base), 0.5);
  

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, transparent 25%, rgba(var(--color), 1) 50%, transparent 75%);
    width: 100%;
    height: 1px;
    bottom: 0;
    opacity: 0.5;
  }

  & .inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    width: var(--width);
    max-width: calc(100% - 40px);

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 20px;

      & div:nth-of-type(1) {
        max-width: 100%!important;
      }

      .nav {
        justify-content: flex-start;
      }
    }
  }
}

footer {
  margin-top: 50px;
  padding: 2rem 0;
  background: linear-gradient(90deg, rgba(var(--color), 0.1), rgba(var(--color2), 0.1));
  backdrop-filter: blur(20px);
  box-shadow: 0 -5px 10px rgba(var(--base), 0.5);

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, transparent 25%, rgba(var(--color), 1) 50%, transparent 75%);
    width: 100%;
    height: 1px;
    top: 0;
    opacity: 0.5;
  }

  & .inner {
    display: flex;
    justify-content: space-between;
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 20px;
  }
}

#nekowebring a {
	border: none!important;
	padding: 0;
}

a {
  user-select: none;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 2.5px 5px;
  border-radius: 7.5px;
  color: rgb(var(--color));
  border: 2px solid rgba(var(--color));

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &.no-style {
    border: none!important;
    padding: 0;
  }

  &:not(.no-style) {
    &:hover {
      transform: scale(1.05) skew(-5deg);
    }
  
    &:active {
      transform: scale(1.05) skew(-5deg);
    }

    &:focus {
      outline: none;
      border-color: rgb(var(--sapphire));
      color: rgb(var(--sapphire));
    }
  }
}

button {
  cursor: pointer;
  padding: 5px 7.5px;
  border-radius: 7.5px;
  background: rgba(var(--mantle), 0.5);
  border: 2px solid rgba(var(--mantle), 0);

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.99);
  }

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }

  &.big {
    border-image: linear-gradient(68deg, rgba(var(--color), 1), rgba(var(--surface1), 1)) 1;
  }
}

#content {
  flex: 1;
  padding: 0rem 20px;

  & .inner {
    max-width: var(--width);
    margin: 0 auto;
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  width: max-content;
  user-select: none;
  pointer-events: none;
  * {
    word-break: keep-all;
  }
}

img {
  user-select: none;

  &.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }
}


@keyframes hover {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@for $i from 1 through 6 {
  h#{$i}::before {
    content: str-slice('######', 1, $i) + ' ';
    color: rgb(var(--color));
  }
}

ul, ol {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

ol li::before {
  content: ' ';
  color: rgb(var(--color));
  margin-right: 5px;
}

ul li::before {
  content: '* ';
  color: rgb(var(--color));
  margin-right: 5px;
}

b, strong {
  &::before {
    content: '**';
    color: rgb(var(--color));
  }

  &::after {
    content: '**';
    color: rgb(var(--color));
  }
}

em, i {
  &::before {
    content: '*';
    color: rgb(var(--color));
  }

  &::after {
    content: '*';
    color: rgb(var(--color));
  }
}

small {
  &::before {
    content: '<small>';
    color: rgb(var(--color));
  }

  &::after {
    content: '</small>';
    color: rgb(var(--color));
  }
}

hr {
  border: none;
  margin: 1rem 0;
}

hr::after {
  content: '';
  position: relative;
  display: block;
  height: 1px;
  top: -0.5rem;
  left: 30px;
  background: linear-gradient(90deg, rgba(var(--color), 1), transparent);
}

hr::before {
  content: '---';
  color: rgb(var(--color));
}

projects-container {
  & > * {
    border-bottom: 2px solid rgba(var(--overlay2), 0.25);

    &:last-child {
      border-bottom: none;
    }
  }
}

project-card {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  
  * { margin: 0; z-index: 2; }

  &:hover::after {
    background-color: rgb(var(--color), 0.5)
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transition: background-color 1s;

    background-color: rgb(var(--color), 0.05);
    filter: blur(50px);
    border-radius: 10px;
    
    z-index: 1;
  }
}

textarea {
  width: 100%;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 1px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));
  resize: none;
  font-family: var(--monospace);

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 2px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 2px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));

  transition: all .5s var(--bounce), color .25s, border-color .25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

.tooltip {
  position: absolute;
  background: rgba(var(--base), 0.75);
  border-radius: 10px;
  padding: 5px;
  color: rgb(var(--text));
  z-index: 100;
  box-shadow: 0 5px 10px rgba(var(--base), 0.5);
  border: 1px solid rgba(var(--overlay2), 0.5);
  backdrop-filter: blur(10px);

  transition: opacity .25s;
}

.squishy {
  cursor: pointer;
  transition: all .25s var(--bounce), color .25s, border-color .25s;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.975);
  }

  &:focus {
    outline: none;
  }
}

code {
  display: inline-block;
  font-family: var(--monospace);
  background: rgba(var(--mantle), 0.5);
  padding: 5px;
  border-radius: 5px;

  &::before {
    content: '`';
    color: rgb(var(--color));
  }

  &::after {
    content: '`';
    color: rgb(var(--color));
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
  
  height: 100%;
}


@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Thin.woff2') format('woff2'), url('TTF/IosevkaTerm-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Light.woff2') format('woff2'), url('TTF/IosevkaTerm-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-LightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Regular.woff2') format('woff2'), url('TTF/IosevkaTerm-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Extended.woff2') format('woff2'), url('TTF/IosevkaTerm-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-Oblique.woff2') format('woff2'), url('TTF/IosevkaTerm-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-Oblique.woff2') format('woff2'), url('TTF/IosevkaTerm-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-Italic.woff2') format('woff2'), url('TTF/IosevkaTerm-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Medium.woff2') format('woff2'), url('TTF/IosevkaTerm-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-SemiBold.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Bold.woff2') format('woff2'), url('TTF/IosevkaTerm-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-Heavy.woff2') format('woff2'), url('TTF/IosevkaTerm-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('/WOFF2/IosevkaTerm-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('/WOFF2/IosevkaTerm-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('/WOFF2/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('/WOFF2/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('/WOFF2/IosevkaTerm-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyItalic.ttf') format('truetype');
}

webring-container {
  small::before {
    content: '';
    color: rgb(var(--color));
  }

  small::after {
    content: '';
    color: rgb(var(--color));
  }
}


progress {
	appearance: none;
	width: 100%;
	height: 20px;
	border-radius: 5px;
	background: rgba(var(--mantle), 0.5);
	border: 1px solid rgba(var(--mantle), 0.5);
	color: rgb(var(--color));
	transition: all .5s var(--bounce), color .25s, border-color .25s;
	overflow: visible;

	&::-webkit-progress-bar {
		background: rgba(var(--mantle), 0.5);
		border-radius: 5px;
	}

	&::-webkit-progress-value {
		background: rgb(var(--color));
		border-radius: 5px;
		box-shadow: 0 0 50px rgba(var(--color), 0.5);
	}

	&::-moz-progress-bar {
		background: rgb(var(--color));
		border-radius: 5px;
		box-shadow: 0 0 50px rgba(var(--color), 0.5);
	}

	&:focus {
		outline: none;
		border-color: rgb(var(--color));
	}
}