---
import Layout from "./Layout.astro";
---

<Layout title={`${Astro.props.frontmatter.title} | blog`} description={Astro.props.frontmatter.description}>
  <article>
    <h1 transition:name="blog-title">{Astro.props.frontmatter.title}</h1>
    <p>{Astro.props.frontmatter.description}</p>
    <small>
      <span>Published {new Date(Astro.props.frontmatter.pubDate).toLocaleDateString('en-GB')}</span>
    </small>
    <hr/>

    <slot/>
  </article>
</Layout>