---
import { ViewTransitions } from 'astro:transitions';
import { execSync } from 'child_process'

interface Props {
	title: string;
	frontmatter?: any;
}

const { title, frontmatter } = Astro.props;

const getGitInfo = () => {
  try {
    const exec = (cmd: string) => execSync(cmd).toString().trim();
    return {
      commitHash: exec(`git rev-parse HEAD`),
      commitBranch: exec(`git rev-parse --abbrev-ref HEAD`),
      commitMessage: exec(`git log -1 --pretty=%B`),
      commitDate: exec(`git log -1 --pretty=%cd`)
    };
  } catch (error) {
    console.error("Error getting Git info:");
    console.error(error);
    return { commitHash: "", commitMessage: "", commitBranch: "", commitDate: "" };
  }
};

const commit = getGitInfo()
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{(title ?? frontmatter.title)} @ thinliquid's [studio]</title>

		<link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css" />

		<ViewTransitions />
	</head>
	<body>
		<div style={{ textAlign: 'center' }}>
			<h1 style={{ fontSize: 'var(--fs-xxxxl)', color: 'var(--orange)', textShadow: '0 0 50px var(--orange)' }}>⚠</h1>
			<h1>we'll be right back.</h1>
			<p>more css wizardry coming <i>your</i> way.</p>
		</div>

		<a style={{ position: 'absolute', bottom: '10px', left: '10px' }} href={"https://github.com/ThinLiquid/site/commits/" + commit.commitHash}>
			{commit.commitHash.slice(0, 7)} ({commit.commitBranch})
		</a>

		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js" is:inline></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	</body>
</html>

<style is:global>
	:root {  
		font-size: 16px;
		--base: hsl(240, 20%, 5%);
		
		--shade1: hsl(240, 20%, 8%);
		--shade2: hsl(240, 20%, 13%);
		--shade3: hsl(240, 20%, 18%);
		--shade4: hsl(240, 20%, 21%);
		--shade5: hsl(240, 20%, 24%);
		--shade6: hsl(240, 30%, 27%);
		
		--text: hsl(240, 30%, 95%);
		--subtext0: hsl(240, 30%, 74%);
		
		--red: hsl(0, 80%, 65%);
		--orange: hsl(20, 80%, 65%);
		--yellow: hsl(40, 80%, 65%);
		--green: hsl(100, 80%, 65%);
		--mint: hsl(150, 80%, 65%);
		--cyan: hsl(200, 80%, 65%);
		--blue: hsl(240, 90%, 79%);
		--magenta: hsl(290, 80%, 65%);
		
		--color: var(--orange);
		
		--fs-sm: clamp(0.67rem, 0.3vi + 0.61rem, 0.8rem);
		--fs-base: clamp(0.8rem, 0.45vi + 0.71rem, 1rem);
		--fs-md: clamp(0.96rem, 0.66vi + 0.83rem, 1.25rem);
		--fs-lg: clamp(1.15rem, 0.93vi + 0.97rem, 1.56rem);
		--fs-xl: clamp(1.38rem, 1.3vi + 1.12rem, 1.95rem);
		--fs-xxl: clamp(1.66rem, 1.78vi + 1.3rem, 2.44rem);
		--fs-xxxl: clamp(1.99rem, 2.41vi + 1.51rem, 3.05rem);
		--fs-xxxxl: clamp(2.42rem, 3.1vi + 1.92rem, 3.65rem);

		--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	small { font-size: var(--fs-sm); }
	p { font-size: var(--fs-base); }
	h6 { font-size: var(--fs-md); }
	h5 { font-size: var(--fs-md); }
	h4 { font-size: var(--fs-lg); }
	h3 { font-size: var(--fs-xl); }
	h2 { font-size: var(--fs-xxl); }
	h1 { font-size: var(--fs-xxxl); }

	h1,h2,h3,h4,h5,h6,p,small {
		margin-top: 1rem;
		margin-bottom: 0.8rem;
	}

	* { box-sizing: border-box; font-size: var(--fs-base); }

	*::selection {
		background: var(--color);
		color: var(--base);
	}

	body, html {
		background: var(--base);
		color: var(--text);
		font-family: Neue Haas Grotesk Display Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	}

	html{
  height: 100%;
}
body {
  min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

a { color: var(--color); }
</style>
<style>
	@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-BlackItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 96 Black Italic'), local('NeueHaasDisplay-BlackItalic'),
       url('/assets/fonts/NeueHaasDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-BlackItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-Mediu.eot');
    src: local('Neue Haas Grotesk Display Pro 65 Medium'), local('NeueHaasDisplay-Mediu'),
       url('/assets/fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-Light.eot');
    src: local('Neue Haas Grotesk Display Pro 45 Light'), local('NeueHaasDisplay-Light'),
       url('/assets/fonts/NeueHaasDisplay-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-Light.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-ThinItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 36 Thin Italic'), local('NeueHaasDisplay-ThinItalic'),
       url('/assets/fonts/NeueHaasDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-ThinItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-RomanItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 56 Roman Italic'), local('NeueHaasDisplay-RomanItalic'),
       url('/assets/fonts/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-RomanItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-RomanItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-XXThinItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 16 XXThin Italic'), local('NeueHaasDisplay-XXThinItalic'),
       url('/assets/fonts/NeueHaasDisplay-XXThinItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-XXThinItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-XXThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-Roman.eot');
    src: local('Neue Haas Grotesk Display Pro 55 Roman'), local('NeueHaasDisplay-Roman'),
       url('/assets/fonts/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-Roman.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-BoldItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 76 Bold Italic'), local('NeueHaasDisplay-BoldItalic'),
       url('/assets/fonts/NeueHaasDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-BoldItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-Thin.eot');
    src: local('Neue Haas Grotesk Display Pro 35 Thin'), local('NeueHaasDisplay-Thin'),
       url('/assets/fonts/NeueHaasDisplay-Thin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-Thin.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-Black.eot');
    src: local('Neue Haas Grotesk Display Pro 95 Black'), local('NeueHaasDisplay-Black'),
       url('/assets/fonts/NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-Black.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-XXThin.eot');
    src: local('Neue Haas Grotesk Display Pro 15 XXThin'), local('NeueHaasDisplay-XXThin'),
       url('/assets/fonts/NeueHaasDisplay-XXThin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-XXThin.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-XXThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-MediumItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 66 Medium Italic'), local('NeueHaasDisplay-MediumItalic'),
       url('/assets/fonts/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-Bold.eot');
    src: local('Neue Haas Grotesk Display Pro 75 Bold'), local('NeueHaasDisplay-Bold'),
       url('/assets/fonts/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-Bold.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-XThin.eot');
    src: local('Neue Haas Grotesk Display Pro 25 XThin'), local('NeueHaasDisplay-XThin'),
       url('/assets/fonts/NeueHaasDisplay-XThin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-XThin.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-XThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-LightItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 46 Light Italic'), local('NeueHaasDisplay-LightItalic'),
       url('/assets/fonts/NeueHaasDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-LightItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src:url('/assets/fonts/NeueHaasDisplay-XThinItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 26 XThin Italic'), local('NeueHaasDisplay-XThinItalic'),
       url('/assets/fonts/NeueHaasDisplay-XThinItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/NeueHaasDisplay-XThinItalic.woff') format('woff'),
       url('/assets/fonts/NeueHaasDisplay-XThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
</style>

<style is:global>
	aside {
		top: 0;
	}
	@media (max-width: 1200px) {
  aside {
    position: static!important;
		width: unset!important;
  }

	.ad {
		display: none!important;
	}
}

.ad {
		display: block;
	}

	header h1 {
		font-size: var(--fs-xxxxl);
		background: linear-gradient(to right, var(--cyan), var(--blue));
		color: var(--base);
		margin-bottom: 0.5rem!important;
	}
</style>