---
import { ClientRouter } from "astro:transitions";

export interface Props {
	title?: string;
	description?: string;
  children: any[]
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{(title ? title + ' @ ' : '') + 'thinliquid\'s [studio]'}</title>
    <meta name="description" content={description ?? 'thinliquid\'s [studio]'} />

    <link rel="icon" type="image/png" href="/icon.png" />
		<link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css" />

		<ClientRouter />
	</head>
	<body>
    <slot />
    
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js" is:inline></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
<style is:global>
  @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk');
  @import url('https://raw.githubusercontent.com/iosevka-webfonts/iosevka-term/refs/heads/main/iosevka-term.css');

  :root {
    /* Utility */
    --color-dark: red;
    --color-white: lime;

    /* Neutral */
    --color-base: cyan;
    --color-surface-0: blue;
    --color-surface-1: coral;
    --color-subtext-0: royalblue;
    --color-subtext-1: orange;
    --color-text: yellow;

    /* Color */
    --color-red: red;
    --color-orange: orange;
    --color-yellow: yellow;
    --color-green: lime;
    --color-cyan: cyan;
    --color-blue: blue;
    --color-purple: purple;
    --color-pink: pink;

    --color-primary: hotpink;

    --font-interface: sans-serif;
    --font-readable: cursive;

    interpolate-size: allow-keywords;

    --bounce: cubic-bezier(1.8, 2, 1, 1.9);
  }

  * {
    box-sizing: border-box;

    &::selection {
      background: var(--color-green);
      color: var(--color-base);
    }
  }

  html, body {
    background: var(--color-base);
    color: var(--color-text);
    font-family: var(--font-readable);
    scrollbar-width: none;
  }

  body {
    margin: 16px;
  }
</style>
