---
import { ClientRouter } from "astro:transitions";

export interface Props {
	title?: string;
	description?: string;
  children: any[]
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{(title ? title + ' @ ' : '') + 'thinliquid\'s [studio]'}</title>
        <meta name="description" content={description ?? 'thinliquid\'s [studio]'} />

        <link rel="icon" type="image/png" href="/icon.png" />
		<link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css" />

	</head>
	<body>
    <slot />

    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js" is:inline></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
<style is:global>
  @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk');
  @import url('https://raw.githubusercontent.com/iosevka-webfonts/iosevka-term/refs/heads/main/iosevka-term.css');

  :root {
    --color-shade0: #00040a;
    --color-shade1: #1c2229;
    --color-shade2: #393f47;
    --color-shade3: #555d66;
    --color-shade4: #727b84;
    --color-shade5: #8e99a3;
    --color-shade6: #abb6c1;
    --color-shade7: #c7d4e0;
    --color-accent0: #ff3437;
    --color-accent1: #ff8234;
    --color-accent2: #ffd034;
    --color-accent3: #6df95a;
    --color-accent4: #31dcfa;
    --color-accent5: #3760ee;
    --color-accent6: #f95af7;
    --color-accent7: #9c3aff;

    --color-primary: var(--color-accent5);
    --color-secondary: var(--color-accent4);
    --color-tertiary: var(--color-accent6);

    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.9);

    --font-monospace: monospace;
    --font-interface: 'IosevkaTerm Nerd Font', 'Iosevka Term Web', monospace;
    --font-readable: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    font-size: 18px;
  }

  * {
    box-sizing: border-box;

    &::selection {
      background: var(--color-tertiary);
      color: var(--color-shade0);
    }
  }

  html, body {
    background: var(--color-shade0);
    color: var(--color-shade7);
    font-family: var(--font-readable);
    scrollbar-width: none;
  }

  body {
      margin: 16px;
  }
</style>
