---
export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{(title ? title + ' @ ' : '') + 'thinliquid\'s [studio]'}</title>
    <meta name="description" content={description ?? 'thinliquid\'s [studio]'} />

    <link rel="icon" type="image/png" href="/icon.png" />
		<link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css" />
	</head>
	<body>
    <slot />

    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js" is:inline></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
<style is:global> 
  @import url('https://fonts.cdnfonts.com/css/switzer');
  @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

  :root {
		--color-shade0: #040A12;
		--color-shade1: #1B222A;
		--color-shade2: #363D44;
		--color-shade3: #545A60;
		--color-shade4: #73787E;
		--color-shade5: #94989D;
		--color-shade6: #B7B9BC;
		--color-shade7: #DADCDD;
    --color-accent0: #D6281E;
    --color-accent1: #FF7920;
    --color-accent2: #ffd034;
    --color-accent3: #6DFFA7;
		--color-accent4: #6DFFFD;
		--color-accent5: #6DACFF;
    --color-accent6: #FF6DAF;
    --color-accent7: #A366D3;

    --color-primary: var(--color-accent5);
    --color-secondary: var(--color-accent4);
    --color-tertiary: var(--color-accent6);

    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.9);

    --font-monospace: monospace;
    --font-interface: 'Geist Mono', monospace;
    --font-readable: 'Switzer', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    font-size: 18px;
  }

  * {
    box-sizing: border-box;

    &::selection {
      background: var(--color-tertiary);
      color: var(--color-shade0);
    }
  }

  html, body {
    background: var(--color-shade0);
    color: var(--color-shade7);
    font-family: var(--font-readable);
    scrollbar-width: none;
  }

  body {
    margin: 16px;
  }
</style>
